<div class="w3-container" *ngIf="studentListData">
	<div class="w3-panel w3-round-small w3-teal row ">
		<div class="col-sm-9"><h3>Student List</h3></div>
		<div class="col-sm-3 mt-2 mb-2"><button mat-raised-button style="float: right;" routerLink="/add">Add New Student</button>
			</div>
	</div>
	<span><i class="w3-medium fa fa-search"></i> Search : <input class="" type="text" [(ngModel)]='filterData'></span>

	<div class="w3-panel w3-green col-sm-12" *ngIf="(studentListData | filter:filterData).length == 0">
		<h3>Oh no</h3>
		<p>No students found <span *ngIf="filterData"> with search "{{filterData}}"</span> </p>
	</div>
	<div class="w3-panel w3-light-grey w3-padding-16 w3-card-2" *ngIf="(studentListData | filter:filterData | filter:filterData).length != 0">
		<table class="w3-table w3-striped w3-bordered">
			<tr>
				<th><i class="w3-medium custom-icon fa fa-refres"></i> Sr. No.</th>
				<!-- <th>ID</th> -->
				<th><i class="w3-medium "></i> First Name</th>
				<th><i class="w3-medium"></i> Last Name</th>
				<th><i class="w3-medium "></i> Email</th>
				<th><i class="w3-medium "></i> Phone</th>
				<th><i class="w3-medium "></i> Update</th>
				<th><i class="w3-medium "></i> Delete</th>
				<th><i class="w3-medium "></i> View Details</th>
			</tr>
			<tr *ngFor="let student of studentListData | filter:filterData; index as i;" appHighlightStudent>
				<td>{{i +1}}</td>
				<td>{{student.first_name}} </td>
				<td>{{student.last_name}}</td>
				<td>{{student.email}}</td>
				<td>{{student.phone | phone}}</td>
				<td><button [routerLink]="['update', i]" class="w3-button w3-blue">Update</button></td>
				<td><button (click)="deleteStudent(i);" class="w3-button w3-red">Delete</button></td>
				<td><button [routerLink]="['detail', i]" class="w3-button w3-green">Detail</button></td>
			</tr>
		</table>
	</div>
</div>
<script>

	$(document).ready(function() {
		var table = $('#example').Table( {
			scrollY:        "300px",
			scrollX:        true,
			scrollCollapse: true,
			paging:         false,
			fixedColumns:   {
				leftColumns: 1,
				rightColumns: 1
			}
		} );
	} );
	</script>
